<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro.min.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-colors.min.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-rtl.min.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <title>Voting</title>

    <style>
        .chart {
            margin-top: 210px;
        }

        .pagination {
            flex-wrap: wrap;
        }
    </style>
</head>

<body class="h-vh-100">
    <div class="">
        <h1 class="d-flex flex-justify-center pt-3">Vote</h1>
        <h3 class="d-flex flex-justify-around text-center">Best Social Network</h3>
    </div>

    <div class="container chart">
        <div class="row">
            <div class="cell-sm-12">
                <canvas id="myChart" style="width:100%;max-width:1200px"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
<script>
    var xValues = [
        "Facebook", "WhatsApp", "WeChat", "Tumblr", "Instagram",
        "Twitter", "Skype", "Viber", "Snapchat", "Pinterest",
        "LinkedIn", "Telegram", "Reddit", "YouTube", "Upstream", 
        "Discord", "TikTok", "Triller", "Twitch", "Soundcloud", 
        "Medium", "Vimeo", "Gipyn"
];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = ["#000", "green", "blue", "orange", "brown"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "World Wine Production 2018"
            }
        }
    });
</script>

</html>